<div class="container pb-5" id="<%= dom_id(post) %>">
  <div class="row align-items-center">
    <div class="col-2">
      <%= profile_image(post.user, class: "w-100") %>
    </div>
    <div class="col-10">
      <p class=""><%= link_to post.user.email, profile_path(post.user), class: "", data: { turbo: false } %></p>
      <%= link_to post, data: { turbo: false }, class: "link-underline-light" do %>
        <div class="text-black "><%= post.body %></div>
      <% end %>

      <div class="container">
        <%= render "posts/controls", post: post %>
      </div>
    </div>
  </div>
</div>
