<div class="container">
  <div class="row justify-content-center my-4">
    <div class="col-10">
      <%= render @post %>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-10 ms-auto">
          <%= turbo_frame_tag "#{dom_id(@post)}_comment_form" do %>
            <%= render "comments/form", post: @post %>
          <% end %>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-10 ms-auto">
          <%= turbo_frame_tag "#{dom_id(@post)}_comments" do %>
            <% if @comments.any? %>
              <% @comments.each do |comment| %>
                <%= render "comments/comment", comment: comment %>
              <% end %>
            <% end%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
