<div class="row justify-content-center my-5">
  <div class="col-10">
    <%= render @post %>
  </div>
  <div class="col-10">
    <div class="w-75 ms-auto my-5">
      <%= turbo_frame_tag "#{dom_id(@post)}_comment_form" do %>
        <%= render "comments/form", post: @post %>
      <% end %>
    </div>
    <%= turbo_frame_tag "#{dom_id(@post)}_comments" do %>
      <% if @comments.any? %>
        <% @comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
        <% end %>
      <% end%>
    <% end %>
  </div>
</div>
