<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-bg-primary-subtle">
      <div class="container-fluid">
        <%= link_to "(logo)", root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <% friends_link_class = FriendRequest.where(friendee_id: current_user.id, status: false).count > 0 ?
                  "nav-link text-danger fw-bold" : "nav-link" %>
              <%= link_to "Friends", friends_path, class: friends_link_class %>
            </li>
          </ul>

          <% flash.each do |type, message| %>
            <div class="container-fluid">
              <div class="w-25 position-absolute start-50 translate-middle alert alert-warning alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          <% end %>

          <ul class="navbar-nav" >
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                (<%= current_user.name %>)
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid border-top border-primary border-2 text-center mx-auto p-5">
      <div class="row g-2">
        <div class="col border border-secondary border-3">
          <h5>My links</h5>
        </div>
        <div class="col-7 border border-secondary border-3">
          <%= yield %>
        </div>
        <div class="col overflow-auto border border-secondary border-3">
          <h5>Users</h5>
          <ul class="list-unstyled">
            <% User.all.order(created_at: :asc).each do |user| %>
              <li><%= link_to profile_path(user) do %><div><%= user.name %></div><% end %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>



  </body>
</html>
